body {
    background-color: #1B1E22;
    font-family: Sans-serif;
    color: #B7B9BD;
    transition: 0.3s ease-in;
}

h1,
h2 {
    font-weight: 100;
}

hr {
    border: 0;
    border-bottom: 1px solid #26282C;
}

button#updateTheme {
    margin-top: 10px;
    background-color: #009C18;
    border: 0;
    border-bottom: 2px solid #007400;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
    font-size: 1.1em;
    transition: 0.1s ease-in;
}

button#updateTheme:hover {
    background-color: #34EC68;
}